<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <a href="/" class="header__logo">
        <img src="assets/images/logo.svg" alt="">
      </a>  
        <nav class="header__nav">
          <ul >
            <li>
              <p  class="header__service" >Услуги</p>
              <div class="header__list-drop">
                  <!-- Правочка новая (текст изменет close-drop)-->
                <p class="close-drop">Назад</p>
                <a href="#" class="header__list-item">
                  <!-- Правочка новая picture-->
                  <picture>
                    <source srcset="assets/images/svg/headerdropitem1-mob.svg" media="(max-width: 900px)">
                    <img src="assets/images/svg/headerdropitem1.svg" alt="">
                  </picture>
                  <div class="header__list-box">
                    <h3>Разработка стратегии</h3>
                    <p>Индивидуальная инструкция к продажам</p>
                  </div>
                </a>
                <a href="#" class="header__list-item">
                      <!-- Правочка новая picture и тд-->
                  <picture>
                    <source srcset="assets/images/svg/headerdropitem2-mob.svg" media="(max-width: 900px)">
                    <img src="assets/images/svg/headerdropitem2.svg" alt="">
                  </picture>
                  <div class="header__list-box">
                    <h3>Контекстная реклама</h3>
                    <p>Тактические рещения и рекламные кампании</p>
                  </div>
                </a>
                <a href="#" class="header__list-item">
                  <picture>
                    <source srcset="assets/images/svg/headerdropitem3-mob.svg" media="(max-width: 900px)">
                    <img src="assets/images/svg/headerdropitem3.svg" alt="">
                  </picture>
                  <div class="header__list-box">
                    <h3>Настройка аналитики</h3>
                    <p>Сбор корректных данных о клиентах</p>
                  </div>
                </a>
                <a href="#" class="header__list-item">
                  <picture>
                    <source srcset="assets/images/svg/headerdropitem4-mob.svg" media="(max-width: 900px)">
                    <img src="assets/images/svg/headerdropitem4.svg" alt="">
                  </picture>
                  <div class="header__list-box">
                    <h3>Бюджет и медиапланирование</h3>
                    <p>Подробный план и бюджеты по каналам</p>
                  </div>
                </a>
                <a href="#" class="header__list-item">
                  <picture>
                    <source srcset="assets/images/svg/headerdropitem5-mob.svg" media="(max-width: 900px)">
                    <img src="assets/images/svg/headerdropitem5.svg" alt="">
                  </picture>
                  <div class="header__list-box">
                    <h3>Поиск сотрудников под задачи</h3>
                    <p>При отсутствии специалистов в штате</p>
                  </div>
                </a>
                
              </div>
            </li>
            <li>
              <a class="header__nav-close" href="#successful">Кейсы</a>
            </li>
            <li >
              <a class="header__nav-close" href="#price">Цены</a>
            </li>
            <li >
              <a class="header__nav-close" href="#whoami">Обо мне</a>
            </li>
            <li >
              <a class="header__nav-close" href="#blog">Блог</a>
            </li>
            <li  >
              <a  class="header__nav-close"href="#expertise">Инструменты</a>
            </li>
            <li >
              <a class="header__nav-close" href="contacts.html">Контакты</a>
            </li>
          </ul>
          <!-- Правочка -->
          <div class="header__nav-socials">           
              <a href="#"><img src="assets/images/svg/telegram2.svg" alt=""></a>  
              <a href="#"><img src="assets/images/svg/mail2.svg" alt=""></a>           
          </div>          
        </nav>
        <div class="header__language ">
          ENG
          <ul >          
            <li>
              <a href="#">RUS</a>
            </li>
            <li>
              <a href="#">GRE</a>
            </li>            
          </ul>
        </div>
        
        <div class="burger">                 
          <span></span>
          <span></span>
          <span></span> 
        </div>               
        
    </div>
  </div>
</header>
