<!DOCTYPE html>
<html lang="ru">
<head>
    {{> head }}
</head>
<body>
    <div class="wrapper">

        {{> header }}

        
        <main class="main">
            {{> body }}
        </main>
        
    
        <!-- {{> footer }} -->
    </div>


    <script src="assets/js/app.js"></script>
    <script>
        var textarea = document.getElementsByTagName('textarea')[0];
            textarea.addEventListener('keydown', resize);
            function resize() {
            var el = this;
            setTimeout(function() {
            el.style.cssText = 'height:auto; padding:0';
            el.style.cssText = 'height:' + el.scrollHeight + 'px';
            }, 1);
            }
    </script>
</body>
</html>
